<h1>
  New Event
  <% if @event.start_time %>
    for <%= @event.start_time.strftime("#{@event.start_time.day.ordinalize} %b %Y") %>
  <% end %>
</h1>

<%= render 'form', event: @event, categories: @categories %>

<%= link_to 'Back', events_path %>
