<!DOCTYPE html>
<html lang="en">
<head>
  <title>Remember</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <style>
    /* critical css for slow devices */
    body {
      margin: 20px;
    }
    section {
      margin: 20px 0;
    }
    td {
      vertical-align: top;
    }
  </style>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
